

<div [@fadeInOut] class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6"> 
      <div class="card" style="background-color: rgba(0, 0, 0, 0.875); border-color: white;">
        <div class="card-header" style="background-color:rgb(172, 8, 194); color: white; font-size: 1.3rem; ">Sobre mi</div> 
        <div class="card-body">
          <div class="text-center">
            <img class="img-fluid rounded-circle mb-3" src="assets/1.jpg" alt="Profile Picture" style="max-width: 250px; height: auto;"> 
            <h3 class="card-title" style="color: white; font-size: 2rem;">Serena Dematei</h3> 
            <p class="card-subtitle" style="color: white; font-size: 1.2rem;">Tengo 22 años y soy de Buenos Aires, Argentina.</p>
            <p style="color: white; font-size: 12;">Soy estudiante de Programación en la Universidad Tecnológica Nacional.<br> Además, estoy dando mis primeros pasos en el mundo del Marketing Digital. <br>
            Soy una apasionada por la tecnología, los medios de comunicación y formas de expresión, el manejo de las redes sociales y el estar al dia con las tendencias y cambios en el mundo digital.<br>
            Este es mi proyecto Sala de Juegos, donde podras encontrar actividades recreativas que a la vez refuercen tu ingenio. ¡Que lo disfrutes!
             </p> 
            <h4 class="card-title" style="color: white; font-size: 1.3rem;">  Juego propio: Letras Enredadas </h4> 
            <p class="card-text" style="color:    white; font-size: 1.1rem;"> ¡Descubre la diversión de Letras Enredadas! Ponte a prueba y encuentra todas las palabras ocultas en una sopa de letras. ¡Perfecto para aumentar tu vocabulario y ejercitar tu cerebro!</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
