
<div [@fadeInOut] class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6"> 
        <div class="card" style="background-color: rgba(0, 0, 0, 0.875); border-color: white;">
          <div class="card-header" style="background-color:rgb(172, 8, 194); color: white; font-size: 1.3rem; ">About me</div> 
          <div class="card-body">
            <div class="text-center">
              <img class="img-fluid rounded-circle mb-3" src="assets/1.jpg" alt="Profile Picture" style="max-width: 250px; height: auto;"> 
              <h3 class="card-title" style="color: white; font-size: 2rem;">Serena Dematei</h3> 
              <p class="card-subtitle" style="color: white; font-size: 1.2rem;">Programming Student - Universidad Tecnológica Nacional</p> 
              <h4 class="card-title" style="color: white; font-size: 1.3rem;">  GAME NAME  </h4> 
              <p class="card-text" style="color:    white; font-size: 1.1rem;"> Loremm ipsum dolor sit amet consectetur adipisicing elit. Ratione non qui voluptas ipsam, perferendis illo soluta omnis eveniet cumque impedit aperiam, perspiciatis labore modi! Placeat hic impedit ipsum cumque tempora?</p> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

