<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card" style="background-color: rgba(0, 0, 0, 0.875); border-color: white;">
        <div class="card-header" style="background-color:rgb(172, 8, 194); color: white; height: 35px; font-size: 15px; font-weight: bold;"></div>
        <div class="card-body">
          <form (ngSubmit)="login()">
            <div class="form-group">
              <label for="email" style="color: white;">Correo Electrónico</label>
              <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="Ingrese su correo" style="background-color: rgba(255, 255, 255, 0.1); color: white;">
            </div>
            <div class="form-group">
              <label for="password" style="color: white;">Contraseña</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="Ingrese su contraseña" style="background-color: rgba(255, 255, 255, 0.1); color: white;">
            </div>
            <br>
            
            <div class="d-flex justify-content-center align-items-center">
              <button type="submit" class="btn btn-primary me-2" style="background-color:rgb(172, 8, 194); border-color: #e100ff; ">Iniciar sesión</button>
              <button class="btn btn-primary" type="button" style="background-color:rgb(11, 202, 186); border-color: #0bdad7c2;" (click)="enterAsGuest()">Ingresar como invitado</button>  
          </div>
          </form>
          <br>
            <p *ngIf="errorMessage" class="alert alert-danger" role="alert" >{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div> 




