<header>
  <nav class="navbar">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">SALA DE JUEGOS</a>
      <ul class="nav">
        <li class="nav-item"><a routerLink="/home" class="nav-link">Inicio</a></li>
        <li *ngIf="!user" class="nav-item"><a routerLink="/log-in" class="nav-link">Iniciar sesión</a></li>
        <li *ngIf="!user" class="nav-item"><a routerLink="/register" class="nav-link">Registrarse</a></li>
        <li *ngIf="!user" class="nav-item"><a routerLink="/about-me" class="nav-link">Sobre mi</a></li>
       <!--- <li *ngIf="user && !isGuestUser" class="nav-item"><a routerLink="/chat" class="nav-link">Chat</a></li>-->
        <li *ngIf="user" class="nav-item"><a routerLink="/chat" class="nav-link">Chat</a></li>
        <li *ngIf="user" class="nav-item"><a routerLink="/about-me" class="nav-link">Sobre mi</a></li>
        <li *ngIf="user" class="nav-item"><a (click)="logout()" class="nav-link">Cerrar sesión</a></li>
      </ul>
    </div>
  </nav>
</header>


