<div class="juegos-container">
    <h2>Seleccione un juego para ver los resultados</h2>
  

    <div class="juegos-list">
      <button *ngFor="let juego of juegos" (click)="seleccionarJuego(juego)">
        {{ juego }}
      </button>
    </div>
  

    <div *ngIf="juegoSeleccionado" class="resultados-section">
      <h3>Resultados de {{ juegoSeleccionado }}</h3>

      <table *ngIf="resultados.length > 0">
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Fecha</th>
            <th>Puntaje</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resultado of resultados">
            <td>{{ resultado.email }}</td>
            <td>{{ resultado.fechaYHora }}</td>
            <td>{{ resultado.score }}</td>
          </tr>
        </tbody>
      </table>
  
     
      <p *ngIf="resultados.length === 0">No hay resultados para este juego.</p>
    </div>
  </div>
