<div [@fadeInOut] class="container mt-5"></div>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div class="card" style="background-color: rgba(0, 0, 0, 0.875); border-color: white;">
        <div class="card-header" style="background-color: rgb(172, 8, 194); color: white; font-size: 1.3rem;">
          Juego del ahorcado
        </div>
        <div class="card-body">
          <p class="mt-3" style="color: white;">Tiempo: {{ timeElapsed }} segundos</p>
          <div class="text-center hangman-container">
            <img [src]="hangmanImage" alt="Hangman" class="img-fluid">
            <p class="mt-3" style="color: white; font-size: 1.5rem;">Palabra: {{ displayWord.join(' ') }}</p>
            <p style="color: white; font-size: 1.2rem;">Intentos restantes: {{ attempts }}</p>
            <div *ngIf="status == '¡Ganaste!'"> 
              <p style="color: white; background-color: violet; font-size: 1.2rem; padding: 10px; border-radius: 5px;">
                {{this.status}}
              </p>
            <p style="color: white;">Tu puntaje final es: {{ score }}</p>
            <p style="color: white;">Te tomó: {{ timeElapsed }} segundos</p>
            </div>
            <div *ngIf="status == 'Perdiste. ¡Inténtalo otra vez!'"> 
              <p style="color: white; background-color: violet; font-size: 1.2rem; padding: 10px; border-radius: 5px;">
                {{this.status}}
                La palabra oculta era: {{this.selectedWord}}
              </p>
            </div>
            <p *ngIf="status == 'Playing'" style="color: white; font-size: 1.2rem;">Letras incorrectas: {{ wrongLetters.join(', ') }}</p>
            <div class="keyboard">
              <button *ngFor="let letter of letters" 
                      (click)="guessLetter(letter)" 
                      [disabled]="guessedLetters.includes(letter) || status !== 'Playing'"
                      class="btn btn-outline-light m-1">
                      {{ letter }}
              </button>
            </div>
            <button (click)="startGame()" *ngIf="status !== 'Playing'" class="btn btn-primary mt-3" style="background-color: rgb(172, 8, 194); border-color: #e100ff;">Jugar de nuevo</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 text-start mt-2">
      <button (click)="goToHome()" class="btn btn-primary" type="button" style="background-color:rgb(11, 202, 186); border-color: #0bdad7c2;">Ir a inicio</button>
    </div>
  </div>
