.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
  }
  
  .grid-row {
    display: contents;
  }
  
  .grid-cell {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .grid-cell.selected {
    background-color: yellow;
  }
  
  button.btn {
    margin-top: 10px;
  }

  .text-center {
    text-align: center;
  }

  .found {
    background-color: #28a745; /* Verde para las letras encontradas */
    color: white; /* Letras blancas */
    border-color: #28a745; /* Cambiar también el borde */
  }